table, td, th{
    border-collapse: collapse;
    font-display:Times;
}

table {
    vorder: 1;
    background-color: bisque;
  }

td {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: beige;
}

